/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

/* Main CSS */
.flexbox {
	display: flexbox;
}
body {
	font-family: 'Karla', sans-serif;
	background-color: tomato;
	background: url('./media/graph_paper_10x10_blue_by_basurero_dbf1grt-fullview.jpg');
	background-size: cover;
}
/* General */
.flex {
	text-align: center;
}

/* Profile & Stats CSS */
.profile > li,
.stats > li {
	padding: 0.5em;
	display: inline;
	font-size: 2em;
	color: white;
	text-shadow: 2px 2px 5px #8a0383;
}

/* Pet CSS */
#pet-image {
	background-color: gray;
	background-size: cover;
	padding: 15em;
	border-radius: 50px;
	max-height: 400px;
	margin: 0 auto;
}
.on {
	background: linear-gradient(rgba(212, 212, 137, 0.5), rgba(0, 0, 0, 0.5)),
		url('./media/_pokemon_frr__red_s_bedroom_v2_by_thewolfgalaxy_d9kpu7v-fullview.jpg');
}
.off {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('./media/_pokemon_frr__red_s_bedroom_v2_by_thewolfgalaxy_d9kpu7v-fullview.jpg');
}

img {
	height: 250px;
}

/* Actions CSS */
button {
	font-size: 1.5em;
	font-family: 'Karla', sans-serif;
	color: darkslategray;
	background-color: white;
	min-width: 15%;
	margin: 0 3em 3em 0;
	border-radius: 15px;
	box-shadow: 2px 2px 10px #b424ad;
	outline: none;
}

/* Modal CSS */
.modal {
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
}

#modal-content {
	background-color: white;
	height: 250px;
	width: 550px;
	padding: 1em;
	border-radius: 15px;
	margin: 150px auto;
}

.modal-list {
	margin-right: 50px;
	list-style-type: none;
}

